<nav>
    <ul>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/productosmujeres">Colecciones</a></li>
  
      <li><a href="/home" class="argila-moda">Argila Moda</a></li>
      <li class="dropdown" id="sobreMiDropdown">
        <a href="" class="dropdown-toggle" onclick="toggleDropdown()">Mis Compras</a>
        <div class="dropdown-content">
          <a href="/carrito">Carrito</a>
        </div>
      </li>
  
      <li class="dropdown" id="miOficinaDropdown">
        <a href="" class="dropdown-toggle" onclick="toggleDropdown()">Mi Oficina</a>
        <div class="dropdown-content">
          <a href="/inveproductos">Colecciones</a>
          <a href="/inveclientes">Clientes</a>
          <a href="/inveproveedor">Proveedores</a>
          <a href="/detalleventa">venta</a>
        </div>
      </li>
    </ul>
  </nav>